* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(135deg, #1e1e2e, #3a3a5e);
    color: white;
}

.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-in-out;
}

/* --------------------- Navbar Styles ------------------ */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    z-index: 1000;
}

.logo img{
    /* font-size: 24px; */
    /* font-weight: bold; */
    /* color: white; */
    height: 30px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s ease-in-out;
    position: relative;
}

.nav-links a:hover, .nav-links a.active {
    color: #ffd700;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: #ffd700;
    bottom: -22px;
    left: 0;
    transition: width 0.3s ease-in-out;
}

.nav-links a:hover::after {
    width: 110%;
}

/* ------------------- Hero Section ----------------------- */

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('images/hero-section.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.social-icons {
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.social-icons a:hover {
    background: white;
    color: black;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero-content h1 {
    font-size: 50px;
    font-weight: bold;
    margin: 20px 0;
}

.hero-content .typing {
    color: #ffd700;
}

.sub-text {
    font-size: 16px;
    letter-spacing: 2px;
}

.btn {
    margin-top: 40px ;
    padding: 15px 25px;
    background: #ffd700;
    border: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    background: white;
    color: black;
}

/* ------------------- ABOUT ME ---------------- */

.div-1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.about {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 1400px;
    background: rgba(255, 255, 255, 0.1);
    /* padding: 30px; */
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

.about-content{
    flex: 1;
}
.about-content .heading{
    margin-top: 30px;
}
.about-content2, .about-image {
    padding: 30px 50px ;
}

.heading {
    font-size: 30px;
    background: linear-gradient(to right,#843ddb, #8c51d4, #b79ed4);
    padding: 15px 25px 15px 60px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    display: inline-block;
}

.about p {
    margin: 15px 0;
    line-height: 1.6;
}

.about span{
    color: #ad7aea;
    margin-right: 5px;
    font-weight: bold;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-image img {
    width: 70%;
    height: auto;
    /* border-radius: 20px; */
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); */
    transition: transform 0.3s ease;
}

.about-image img:hover {
    transform: scale(1.05);
}

/* ------------------- EXPERTISE ---------------- */

.div-2{
    text-align: center;
    padding: 50px;
}

.expertise {
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.expertise h2 {
    font-size: 35px;
    margin-bottom: 40px;
    font-weight: bold;
}

.expertise h2 span {
    color: #ebc1ff;

}

.expertise .skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.expertise .skill {
    position: relative;
    text-align: left;
}

.expertise h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.expertise .progress-bar {
    width: 100%;
    background: #1f1129;
    height: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
}

.expertise .progress {
    height: 100%;
    background: #843ddb;
    width: 0;
    transition: width 1.5s ease-in-out;
}

.expertise .percentage {
    position: absolute;
    right: 0;
    top: -1px;
    font-size: 16px;
    font-weight: bold;
}

/* ------------------- PROJECT ---------------- */

.div-3{
    text-align: center;
    padding: 50px;
}

.projects {
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.projects h2 {
    font-size: 35px;
    margin-bottom: 50px;
    font-weight: bold;
}

.projects h2 span {
    color: #ebc1ff;
}

.projects .categories {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.projects .filter-btn {
    font-size: 16px;
    background: none;
    border: 1px solid #8d28e0;
    color: #ab78ea;
    padding: 10px 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.projects .filter-btn:hover,
.projects .filter-btn.active {
    background: #8d28e0;
    color: #18121c;
    transform: scale(1.1);
    border: #8d28e0;
    box-shadow: 0 0 10px #8d28e0;
}

.projects .projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.projects .project-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.projects .project-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.project-item img:hover {
    transform: scale(1.05);
}

.projects .hidden {
    display: none;
}

/* ------------------- INTERESTS ---------------- */

.div-4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.interests {
    text-align: center;
}

.interests h2 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 40px;
}

.interests span{
    color: #ebc1ff;
}

.icons-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.icon {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #8d28e0;
    border-radius: 50%;
    font-size: 24px;
    color: #9c28e0;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.icon:hover {
    background: #8d28e0;
    color: #18121c;
    transform: scale(1.1);
    box-shadow: 0 0 10px #8d28e0;
}

/* ------------------- Contact Me ---------------- */

.div-5{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.contact-section {
    
    width: 90%;
    max-width: 1400px;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: #161b2a; */
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 40px;
    border-radius: 15px;
}

.contact-form {
    flex: 1;
    padding: 20px;
}

.contact-form h3 {
    color: #bb8ef1;
    font-size: 25px;
    margin-bottom: 5px;
}

.contact-form h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

/* .contact-form label {
    display: block;
    font-size: 14px;
    margin-top: 15px;
} */

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background: #ffffff;
    color: rgb(62, 34, 73);
    outline: none;
}

.contact-form textarea {
    height: 100px;
    resize: none;
}

.send-btn {
    margin-top: 20px;
    margin-right: 20px;
    background: #b070ff;
    color: #ffffff;
    font-size: 16px;
    border: none;
    padding: 12px 28px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

.send-btn:hover {
    background: #8d28e0;
    color: #f8eeff;
    transform: scale(1.1);
    box-shadow: 0 0 10px #8d28e0;
}

.footer-text {
    margin-top: 15px;
    font-size: 14px;
    color: #aaa;
}

.contact-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-image img {
    max-width: 90%;
    height: auto;
}

